body{
font-family: forma-djr-display, sans-serif;
font-weight: 400;
font-style: normal;
color: white;
background-color: rgb(104, 103, 226);
}
p{
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0px;
}
.degree_symbol:not(:empty)::after {
    content: "°"
}

.owm-legend-item{
    display: none;
}

#map {
	width: 100%;
    height: 100%; 
}
.search{
    background-color: rgb(104, 103, 226);
    margin: 0px 20px 0px 20px;
    width: 97%;
    height: 60px;
    font-size: 30px;
    text-align: center;
    outline: rgb(55, 18, 162);
    outline-width: 5px;
    outline-style: solid;
    padding-top: 0px;
    margin-top: 20px;
    color: white;
    margin-bottom: 10px;
}
.hero{
    width: 98%;
    height: 500px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 260px;
    grid-template-rows: 1fr;
    margin: 0px 20px 0px 20px;
    border-bottom: 5px solid rgb(55, 18, 162);
}
.current{
    padding-left: 50px;
}
.icon{
    width: 100%;
    height: 290px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
}
.icon-01d{
    background-image: url("/icons/01d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-top: 0px;
}
.sun_2{
    width: 300px;
    height: 300px;
    margin: 0px auto 0px auto;
}
.date{
    width: 110%;
    height: 50px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    margin-top: 0px;
    border-bottom: 5px solid rgb(55, 18, 162);
}
.date_2{
    text-align: right;
    padding-right: 50px;
}
.alert{
    width: 85%;
    height: 425px;
    background-color: rgb(0, 175, 246);
    display: grid;
    grid-template-columns: 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    word-spacing: 3px;
    margin-top: 20px;
    margin-left: 40px;
    padding: 20px;
}
.highlow{
    width: 100%;
    height: 90px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 80px;
    grid-template-rows: 1fr;
    margin-top: 10px;
    border-bottom: 5px solid rgb(0, 175, 246);
    margin-left: 20px;
}
.windchill{
    width: 100%;
    height: 60px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    margin-top: 0px;
    padding-left: 30px;
    padding-top: 20px;
}
.city{
    width: 100%;
    height: 100px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 60px;
    grid-template-rows: 1fr;
    margin-top: 10px;
}
.latlong{
    width: 100%;
    height: 40px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 25px;
    grid-template-rows: 1fr;
}
.empty_2{
    height: 0px;
    width: 0px;
}
.lat{
    width: 110%;
}
.long{
    width: 100%;
    text-align: right;
    padding-right: 100px;
}
.high{
    font-weight: 700;
}
.low{
    font-weight: 300;
}
.zip{
    font-size: 30px;
    padding-left: 140px;
    padding-top: 30px;
}
.number{
    padding-left: 40px;
}
.hourly{
    width: 90%;
    height: 50px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    margin: 0px auto 0px auto;
    text-align: center;
    padding-top: 20px;
}
.image{
    width: 90%;
    height: 170px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    margin: 0px auto 0px auto;
    text-align: center;
    padding-top: 10px;
}
.degree{
    width: 90%;
    height: 80px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 60px;
    grid-template-rows: 1fr;
    margin: 0px auto 0px auto;
    text-align: center;
    padding-top: 10px;
}
.sun{
    width: 170px;
    height: 170px;
}
.cloudy{
    width: 260px;
    height: 270px;
    margin-top: -45px;
}
.weekly{
    width: 97%;
    height: 880px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 70px;
    grid-template-rows: 1fr;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    border-top: 5px solid rgb(55, 18, 162);
    margin-left: 20px;
}
.description{
    width: 95%;
    height: 80px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    padding-left: 40px;
    border-bottom: 10px solid rgb(0, 175, 246);
}
.chance{
    width: 93%;
    height: 60px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    margin-top: 45px;
    padding-left: 30px;
    padding-top: 15px;
    border-bottom: 5px solid rgb(55, 18, 162);
}
.humidity{
    width: 93%;
    height: 60px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    margin-top: 0px;
    padding-left: 30px;
    padding-top: 15px;
    border-bottom: 5px solid rgb(55, 18, 162);
}
.dew{
    width: 93%;
    height: 60px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    margin-top: 0px;
    padding-left: 30px;
    padding-top: 15px;
    border-bottom: 5px solid rgb(55, 18, 162);
}
.cloud{
    width: 93%;
    height: 60px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    margin-top: 0px;
    padding-left: 30px;
    padding-top: 15px;
    border-bottom: 5px solid rgb(55, 18, 162);
}
.uv{
    width: 93%;
    height: 60px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    padding-left: 30px;
    padding-top: 15px;
}
.wind{
    width: 97%;
    height: 70px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    padding-left: 70px;
    padding-top: 20px;
    margin-left: -40px;
    border-top: 10px solid rgb(0, 175, 246);
    border-bottom: 10px solid rgb(0, 175, 246);
}
.index{
    width: 93%;
    height: 60px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    margin-top: 0px;
    padding-left: 30px;
    padding-top: 15px;
    border-bottom: 5px solid rgb(55, 18, 162);
}
.quality{
    width: 93%;
    height: 60px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    margin-top: 0px;
    padding-left: 30px;
    padding-top: 15px;
    border-bottom: 5px solid rgb(55, 18, 162);
    z-index: 90;
}
.visibility{
    width: 93%;
    height: 60px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    padding-left: 30px;
    padding-top: 15px;
    z-index: 90;
}
.pressure{
    width: 97%;
    height: 70px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 40px;
    grid-template-rows: 1fr;
    padding-left: 70px;
    padding-top: 20px;
    margin-left: -40px;
    border-top: 10px solid rgb(0, 175, 246);
    border-bottom: 10px solid rgb(0, 175, 246);
    z-index: 90;
}
.amount{
    text-align: right;
    padding-right: 20px;
}
.amount_2{
    text-align: right;
    padding-right: 50px;
}
.tuesday{
    width: 92%;
    height: 80px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 50px;
    grid-template-rows: 1fr;
    padding-left: 30px;
    padding-top: 20px;
    border-bottom: 5px solid rgb(51, 63, 224);
    border-top: 5px solid rgb(55, 18, 162);
}
.large{
    font-weight: 700;
    text-align: right;
}
.small{
    font-weight: 300;
    text-align: right;
    padding-right: 60px;
}
.wednesday{
    width: 92%;
    height: 80px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 50px;
    grid-template-rows: 1fr;
    padding-left: 30px;
    padding-top: 20px;
    border-bottom: 5px solid rgb(51, 63, 224);
}
.thursday{
    width: 92%;
    height: 80px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 50px;
    grid-template-rows: 1fr;
    padding-left: 30px;
    padding-top: 20px;
    border-bottom: 5px solid rgb(51, 63, 224);
}
.friday{
    width: 92%;
    height: 80px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 50px;
    grid-template-rows: 1fr;
    padding-left: 30px;
    padding-top: 20px;
    border-bottom: 5px solid rgb(51, 63, 224);
}
.saturday{
    width: 92%;
    height: 80px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 50px;
    grid-template-rows: 1fr;
    padding-left: 30px;
    padding-top: 20px;
    border-bottom: 5px solid rgb(51, 63, 224);
}
.sunday{
    width: 92%;
    height: 80px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 50px;
    grid-template-rows: 1fr;
    padding-left: 30px;
    padding-top: 20px;
    border-bottom: 5px solid rgb(51, 63, 224);
}
.monday{
    width: 92%;
    height: 80px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 50px;
    grid-template-rows: 1fr;
    padding-left: 30px;
    padding-top: 20px;
    border-bottom: 5px solid rgb(51, 63, 224);
}
.tuesday_2{
    width: 92%;
    height: 80px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 50px;
    grid-template-rows: 1fr;
    padding-left: 30px;
    padding-top: 20px;
}
.symbol{
    width: 80px;
    height: 80px;
    margin: -5px 10px 0px auto;
}
.symbol_2{
    width: 150px;
    height: 150px;
    margin: -20px -25px 0px auto;
}
.symbol_3{
    width: 100px;
    height: 100px;
    margin: -13px 0px 0px auto;
}
.radar{
    width: 100%;
    height: 700px;
    background-color: rgb(104, 103, 226);
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 70px;
    grid-template-rows: 1fr;
}
.tv{
    width: 1200px;
    height: 900px;
    margin-left: 20px;
    margin-top: 0px;
}
.sunset{
    width: 90%;
    height: 300px;
    margin-left: 30px;
    margin-top: 0px;
    background-color: rgb(104, 103, 226);
}
.rise{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(104, 103, 226);
    width: 85%;
    margin-top: 0px;
    margin-left: 60px;
}
.set{
    text-align: right;
}
.moon{
    height: 400px;
    width: 95%;
    border-top: 5px solid rgb(55, 18, 162);
    background-color: rgb(104, 103, 226);
    margin-top: 50px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.moon_image{
    width: 450px;
    height: 450px;
    margin-left: -20px;
    margin-top: -10px;
}
.phase{
    padding-top: 70px;
    margin-left: -60px;
    font-size: 50px;
}
.illumination{
    font-size: 30px;
}